/* Общие */
body {
	background: #111111;
/*	margin-left: 200px;
	margin-top: 150px; */
	font-size: small;
	min-height: 22em;
	color: #00AA00;
}

input {

}
label {
	display: block;	
}

.layout {
	overflow: auto;
}
.hidden {
	display: none;	
}
.content {

}
.button {
	cursor: pointer;
	padding: 1px;
}
.title {
	font-style: oblique;

}
/* Левое поле */
#left-block {
	position: fixed;
	width: 18em;
	left: 0;
	top: 0;	
	bottom: 0;
	background: #141111;
	margin: 2px;
	min-height: 22em;
}
/* Блок работы с пользователем */
#user-block {
	height: 9em; 
	width:  100%;
/*	border-bottom: medium dotted ; */  	
}
#user-data {
}
#user-data-name {
	font-weight: bold;
}

#user-data img {
	float:  left;
}

#participant-me {
	position: absolute;
	width: 92%;
	top: 6em;
	height: 2.8em;
	border-top: medium dotted ;	
	border-bottom: thin solid ;
}

/* контент левого блока*/
#left-container {
	position:absolute;
	top:9em;
	bottom:5em;
	width:90%;
}
.footer {
	position: fixed;
	bottom: 0;
	height: 5em;
}
#left-footer{
	width: 13em;
	border-top: medium dotted ;
}


/* Правое проле */
#right-block {
	position: fixed;
	left: 15em;
	right: 0;
	top: 0;
}
.nav-panel {
	border: thin solid navy;
	border-radius: 6px;
}
.nav-panel .title {
	cursor: pointer;
}
.nav-panel-selector {
	display: block;
	position: fixed;
	z-index: 2;
	background: #EEEEEE;	
}

.tool-panel {
	border-bottom: thin solid ;
}
/* поле контента */
#content-block {
	position: fixed;
	left: 15em;
	right: 0;
	top: 150px;
	bottom: 0;
}

/*content holders*/
.form-holder {
	width: 90%;
	margin-left: 2em;
	padding-bottom: 1.4em;
}
.form-holder .handle {
	float: left;
}
.form-holder .title {
	text-align: right;
}
.form-holder .content {
	border-top: thin solid;
}
.field{
	width: 100%;	
}
.label{
	display: inline-block;
	width: 30%;
	text-align: right;
}



.list-holder {
	width: 90%;
	margin-left: 2em;
	position: relative;
	padding-bottom: 1.4em;
}
.list-holder .title {
	text-align: right;
}
.list-holder .content {
	border-top: thin solid;
/*	position: absolute;*/
	top: 1.4em;
	left: 0.1em;
	right: 0;
	bottom: 1.4em;
	overflow-y: scroll;
	max-height: 14em;
}
.list-holder .handle {
	position: absolute; 
	bottom: 0.1em;
	left: 0.1em;
}
.list-holder .pager{
	position: absolute;
	bottom: 0.1em;
	right: 1em;
}



.row{
	display: block;
	border: thin groove gray;
	border-radius: 6px/3px; 
	margin: 1px;	
	padding-left: 1.2em;
}
.row-handle {
	display: table-cell;
}
.row-body {
	display: table-cell;
	width: 100%;
}

.fieldset{
	display: block
}

.cell{
	cursor: pointer;  
	display:	inline-block;
	overflow: hidden;
}
.cell-text{
	margin-left: 0.6em;
}

.row .name{
	width: 22em;
	font-weight: bold;
}
.row .date{
	width: 6em;
}

.row .descr{
	width: 100%;
	max-height: 1.3em;
	overflow: hidden;
}
.row .role{
	width: 8em;
}
.row .status{
	width: 8em;
}


.part-list-row .name{
	width: 10em;
}
.voted .fieldset {
	font-style: italic;
	color: gray;
}

.created .fieldset {
	font-style: italic;
	color: gray;
}


.popup{
	position: fixed;
	background-color: #668866;
	z-index: 100;
	border-radius: 0.3em;
	padding: 0.3em;
	color:black;
}
.popup p {
	margin-top: 0.1em;
	margin-bottom: 0.1em;
		
}

.dialog-body{

}
.dialog-tools{
	border-top: medium solid;
}
.dialog-title{
	text-align: center;
	font-weight: bold
}


/*rui-resizable alterations*/ 
